#Files/*
Images/*
#Include/*

#Include/*/*.mqh

#Include/*

Libraries/*
Logs/*
Presets/*
Projects/*
Scripts/*

*.ex4
*.csv
*.csv#

### 2019/08/27 13:27:41
Files/Logs/storage_Logs/*

Files/Logs/2019*

#Files/Logs/[ea_44_5.3_2].[down-down-BuyOrSell].20190208_155638.log

### 2019/12/23 17:34:51
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/*.mqh
Include/Files/
Include/Indicators/
Include/Strings/
Include/Tools/
